@import "styles";
@import "topnav";
@import "footer";
@import "login";

$top1color: linear-gradient(325deg, #ebc600 -21.8%, #e8dc9d 94.17%);
$top2color: linear-gradient(138deg, #e7e7e7 9.28%, #a8a8a8 118.44%);
$top3color: linear-gradient(323deg, #cd7f32 -26.39%, #ecc8a4 116.07%);



.leaderboardContent {
  background-image: url(../../../../public/img/Rectangle1694.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  position: relative;
  top: 100px;
  &__container {
    width: 100%;
    height: 100%;
    @include flexP;
    flex-direction: column;

    &__title {
      padding-top: 50px;
      h1{
        font-size: 35px ;
        font-weight: 600;
      }
      width: 75%;
      margin: 25px;
      margin-top: 50px;
      @include flexP;
      flex-direction: column;
      .challenge {
        font-size: 25px;
        margin-bottom: 10px;
        transition: 150ms linear color;
        &:hover {
          color: #226500;
        }
      }
    }

    &__selector {
      width: 65%;

      &__buttons {
        width: 100%;
        height: 80px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        border: solid 0.5px rgba(128, 128, 128, 0.579);

        button {
          width: 25%;
          height: 100%;
          background-color: white;
          border: none;
          @include flexP;

          h1 {
            height: 60%;
            width: 100%;
            font-size: 25px;
            font-weight: 500;
            margin: 0;
            @include flexP;
            border-right: solid 0.5px black;
          }

          &:last-child {
            h1 {
              border-right: none;
            }

            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
          }

          &:first-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
          }
        }
      }
    }

    &__top3 {
      width: 100%;
      margin-top: 20px;

      .ranks {
        @include flexP;
        width: 100%;
        list-style: none;
        padding: 0;

        li {
          position: relative;
          background: $top1color;
          border-radius: 100px;
          width: 185px;
          height: 185px;
          @include flexP;

          .rankerinfors {
            @include flexP;
            position: absolute;
            flex-direction: column;
            top: 105%;
            .username {
              color: black;
              font-size: 20px;
            }
            .email {
              color: rgba(0, 0, 0, 0.563);
              font-size: 1.25rem;
            }
          }
          &:first-child {
            left: -100px;
            width: 154px;
            height: 154px;
            background: $top2color;

            .rank_indicator {
              background: $top2color;
              font-size: 20px;
            }
          }

          &:last-child {
            right: -100px;
            width: 154px;
            height: 154px;
            background: $top3color;

            .rank_indicator {
              background: $top3color;
              font-size: 20px;
            }
          }

          .ranker_avatar {
            width: 88%;
            height: 88%;
            background: white;
            border-radius: 100%;
          }

          .rank_indicator {
            width: 50px;
            height: 50px;
            background: $top1color;
            position: absolute;
            top: 80%;
            border-radius: 100px;
            @include flexP;
            font-weight: 500;
            font-size: 25px;
          }
        }
      }
    }

    &__rankinglist {
      margin-top: 100px;
      width: 65%;
      overflow:scroll;
      .content {
        width: 100%;
        height: 1000px;
        @include flexR;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;

        .indicator {
          padding:30px 0 10px 0;
          height: 50px;
          width: 90%;
          @include flexR;
          justify-content: space-between;
          margin-top: 20px;
          margin-bottom: 20px;

          h1 {
            color: rgb(80, 80, 80);
            font-size: 25px;
            @include flexP;
            margin: 0;
          }

          a {
            @include flexP;
            margin: 0;
          }
        }

        .rankings {
          width: 100%;
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            width: 100%;
            height: 150px;
            background-color: white;
            @include flexR;
            justify-content: space-between;
            .user_ranking_info {
              @include flexR;
              width: 40%;
              justify-content: space-around;
              .rank {
                font-size: larger;
                font-weight: bolder;
                @include flexP;
                width: 50px;
                padding: 20px;
              }
              .ranking_avatar {
                width: 90px;
                height: 90px;
                border-radius: 100px;
                background-color: grey;
                margin-right: 30px;
                flex-shrink: 0;
              }
              .user_info {
                display: flex;
                flex-direction: column;
                height: 70px;
                justify-content: space-around;
                .username {
                  font-size: larger;
                  font-weight: bolder;
                }
                .email {
                  font-size: large;
                  color: rgba(0, 0, 0, 0.531);
                }
              }
            }
            .point {
              font-size: larger;
              font-weight: bolder;
              width: 10%;
              margin-right: 20px;
            }
            &:hover {
              background-color: grey;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 696px) {
  .leaderboard__container__selector {
    width: 100%;
  }
  .leaderboard__container__top3 {
    .ranks {
      position: relative;
      top: -100px;
      flex-direction: column;
      li {
        &:first-child {
          top: 340px;
          left: -100px;
        }

        &:last-child {
          right: -100px;
        }
      }
    }
  }
  .leaderboard__container__rankinglist {
    width: 100%;
    .content {
      .rankings {
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          justify-content: space-between;
          .user_ranking_info {
            width: 50%;
            justify-content: space-between;
            .ranking_avatar {
              width: 60px;
              height: 60px;
              margin-right: 10px;
            }
          }
          .point {
            width: auto;
            margin-right: 0;
            padding: 20px;
          }
        }
      }
    }
  }
}
